* {
  box-sizing: border-box;
  text-decoration: none;

}
::-webkit-scrollbar{
  height: 0px;
  width: 0px;
}

.invalid {
  background-color: #ffdddd;
  border: 2px solid red;
}

.valid {
  background-color: #efefef;
  border: 0;
}
